.video-list-container{
    width: 70%;
    padding: 10px;
}
.video-detail-container{
    width: 30%;
    padding: 10px;
}

@media only screen and (max-width: 768px) {
    .video-list-container,.video-detail-container{
        width: 100%!important;
    }
  }

  .header-youtube{
    width: 100%;
    background-color: rgb(219 60 60);
    padding: 35px;
    position: fixed;
    color: white;
    top: 0px;
    left: 0px;
    z-index: 1;
  }